@model IEnumerable<Test.Models.CTHD>

@{
    Layout = null;
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<h4 style="text-align:center;">CHI TIẾT HÓA ĐƠN</h4>
<div class="table-responsive">
    <table class="table" style="width: 100%; margin-bottom:20px;" align="center">
        <tr>
            <th style="width: 7%; padding-right:40px">
                <label>Mã hóa đơn</label>
            </th>
            <th style="width: 7%; padding-right:40px">
                <label>Tên hàng hóa</label>
            </th>
            <th style="width: 7%; padding-right:40px">
                <label>Hỉnh ảnh</label>
            </th>
            <th style="width: 7%; padding-right:40px">
                <label>Số lượng</label>
            </th>
            <th style="width: 7%; padding-right:40px">
                <label>Đơn giá</label>
            </th>
            <th style="width: 7%; padding-right:40px">
                <label>Thành tiền</label>
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td style="width: 7%; padding-right:40px">
                    @item.MAHD
                </td>
                <td style="width: 7%; padding-right:40px">
                    @item.HANGHOA.TENHANGHOA
                </td>
                <td style="width: 7%; padding-right:40px">
                    <img src="~/images/@item.HANGHOA.ANHHANGHOA" width="100" height="100" />
                </td>
                <td style="width: 7%; padding-right:40px">
                    @item.SOLUONG
                </td>
                <td style="width: 7%; padding-right:40px">
                    @item.DONGIA VNĐ
                </td>
                <td style="width: 7%; padding-right:40px">
                    @item.THANHTIEN VNĐ
                </td>
            </tr>
        }
    </table>
</div>
