
@{
    ViewBag.Title = "Đăng ký tài khoản";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<h2 style="text-align:center">ĐĂNG KÝ THÀNH VIÊN</h2>
<h3 style="text-align:center; color: red">@ViewBag.Error</h3>
<hr />
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Đăng ký tài khoản</title>
    <link href="~/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div>
        <form class="form-horizontal" method="post">
            <div class="form-group">
                <label class="control-label col-sm-2" for="email">Họ tên</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Họ tên" name="hoten" maxlength="50" minlength="5" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="pwd">Tài khoản</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="pwd" placeholder="Tài khoản" name="id" maxlength="30" minlength="6" required>
                    @ViewData["LoiTrungID"]
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="pwd">Mật khẩu</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" placeholder="Mật khẩu" name="pass" maxlength="256" minlength="6" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="pwd">Giới tính</label>
                <div class="col-sm-10">
                    <select name="gioitinh" class="form-control">
                        <option value="0">Nữ</option>
                        <option value="1">Nam</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="pwd">Ngày sinh</label>
                <div class="col-sm-10">
                    <input type="date" name="ngaysinh" required class="form-control" placeholder="Ngày sinh">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="pwd">Địa chỉ</label>
                <div class="col-sm-10">
                    <input type="text" name="diachi" maxlength="100" minlength="5" required class="form-control" placeholder="Địa chỉ" ">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="pwd">Số điện thoại</label>
                <div class="col-sm-10">
                    <input type="number" name="sdt" maxlength="11" minlength="10" required class="form-control" placeholder="Số điện thoại">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="pwd">Email</label>
                <div class="col-sm-10">
                    <input type="text" name="email" maxlength="50" minlength="10" required class="form-control" placeholder="Email">
                    @ViewData["LoiTrungEmail"]
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="pwd">CMND</label>
                <div class="col-sm-10">
                    <input type="number" name="cmnd" maxlength="11" minlength="9" required class="form-control" placeholder="CMND">
                    @ViewData["LoiTrungCmnd"]
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <input type="submit" value="Đăng ký" class="btn btn-info" />
                </div>
            </div>
        </form>
    </div>
    @{
        if (TempData["msg"] != null)
        {
            <script>alert('@TempData["msg"]')</script>
        }
    }
</body>
</html>
