@model IEnumerable<HeQuanTri.Models.CTHD>

@{
    ViewBag.Title = "ChiTiet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Chi Tiết Hóa Đơn @ViewBag.MaDH</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MAHANGHOA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SOLUONG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DONGIA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.THANHTIEN)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MAHANGHOA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SOLUONG)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DONGIA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.THANHTIEN)
            </td>
        </tr>
    }

</table>
