@model IEnumerable<HeQuanTri.Models.HOADON>

@{
    ViewBag.Title = "ListHoaDonTaiQuay";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Hóa Đơn Tại Quầy</h2>

<table class="table">
    <tr>
        <th>
            Mã Hóa Đơn
        </th>
        <th>
            Tên Khách Hàng
        </th>
        <th>
            Tên Nhân Viên
        </th>
        <th>
            Ngày Lập
        </th>
        <th>
            Tổng Tiền
        </th>
        <th>
            Tiền Thanh Toán
        </th>
        <th>
            Tiền Thừa
        </th>
        <th>Thao Tác</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MAHD)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MAKH)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MANV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NGAYLAP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TONGTIEN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TIENTHANHTOAN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TIENTHUA)
            </td>
            <td>
                @Html.ActionLink("Xem Chi Tiết", "ChiTiet", new { id = item.MAHD })
            </td>
        </tr>
    }

</table>
